@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-end: #EBD6BB;
  --color-primary-start:  #9E243B;
  --color-background: #FFFFFF;
  --color-text: #000000;
  --gradient-primary: linear-gradient(
    to right,               /* hướng gradient */
    var(--color-primary-start),
    var(--color-primary-end)
  );
}

.dark {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}